@tailwind base;
@tailwind components;
@tailwind utilities;


input {
    border: 1px solid #999;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    border: 1px solid #999;
    padding: 1rem;
    margin: auto;
}

form p {
    color: red;
    font-size: 12px;
}

button {
    background-color: black;
    color: white;
    padding: 0.5rem;
}